bright = {
  name: "bright", //标识主题
  background_color_main_header : #fff,
  // scroll_bar_bgColor : rgba(223, 223, 223, 1), // 滚动条颜色
  bgColor_channel_a : #f1f1f1,
  bgColor_channel_a_hover : #cdcdcd,
  bgColor_article_uid : #E7E8F4,
  font_color_main_header : #fff,
  font_color_main_header_channel : #303030,
  font_color_002 : #6C6E72,
  font_color_003 : #939393,
  other_color_001 : #E8E8EC,
}

dark = {
  name: "dark",
  background_color_main_header : #151617,
  // scroll_bar_bgColor : rgba(23,23,23,0.7),
  bgColor_channel_a : #666666,
  bgColor_channel_a_hover : #151617,
  bgColor_article_uid : #ccc,
  font_color_main_header : #fff,
  font_color_main_header_channel : #fff, 
  font_color_002 : #6C6E72,
  font_color_003 : #FFFFFF, 
  other_color_001 : #1B1E2F,
}

themeList = (bright dark);
